@inherits LayoutComponentBase

<div class="app-shell">

    <NavMenu />

    <main class="main-content">
        @Body
    </main>

    <footer class="site-footer">

        <div class="footer-brand">

            <h3>AeroResponse</h3>

            <p>
                Aircraft Emergency Response Training Simulator
            </p>

        </div>

        <div class="footer-copy">

            © @DateTime.Now.Year AeroResponse. All Rights Reserved.

            <br />

            Developed by Kim Brown • Jayce Brown• Nathaniel Stokes

            <br />

            BYU–Idaho Software Engineering Capstone Project

        </div>

    </footer>

</div>
