@implements IDisposable

@inject NavigationManager NavigationManager

<nav class="top-nav">

    <a class="brand" href="/">
        <span class="brand-icon">✈</span>
        <span>AeroResponse</span>
    </a>

    <div class="nav-links">

        <NavLink href="/" Match="NavLinkMatch.All">
            Home
        </NavLink>

        <NavLink href="/aircraft">
            Aircraft
        </NavLink>

        <NavLink href="/scenarios">
            Scenarios
        </NavLink>

        <NavLink href="/dashboard">
            Dashboard
        </NavLink>

        <NavLink href="/membership">
            Membership
        </NavLink>

        <NavLink href="/cockpit">
            Simulator
        </NavLink>

    </div>

    <div class="nav-auth">

        <AuthorizeView>

            <Authorized>

                <NavLink href="/Account/Manage" class="login-link">
                    @context.User.Identity?.Name
                </NavLink>

                <form action="Account/Logout" method="post" class="logout-form">

                    <AntiforgeryToken />

                    <input type="hidden"
                        name="ReturnUrl"
                        value="@currentUrl" />

                    <button type="submit" class="signup-link">
                        Logout
                    </button>

                </form>

            </Authorized>

            <NotAuthorized>
                <NavLink href="/Account/Login"
                        class="login-link">
                    Login
                </NavLink>

                <NavLink href="/Account/Register"
                        class="signup-link">
                    Sign Up
                </NavLink>

            </NotAuthorized>

        </AuthorizeView>

    </div>

</nav>

@code {

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender,
                                LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}